{
    "printWidth": 240,
    "tabWidth": 2,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true
}